/* General body styling */
body {
    background-color: #e1faf7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.branding span {
    font-size: 1.5em;
    font-weight: bold;
}

.auth-links a, .auth-links button {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-links a:hover, .auth-links button:hover {
    background-color: #45a049;
}
/* Form container box styling */
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    width: 300px;
    text-align: center;
}

/* Form headings styling */
form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3c3b3b;
}

/* Form input fields styling */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Form button styling */
form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

/* Shadow effect for the form */
form {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
